<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*, *:before, *:after {
	box-sizing:border-box;
}

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

body {
	padding:24px;
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url(images/skola.jpg);
  background-size: contain;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}


table {
	width:100%;
	border:1px solid;
        border-color: #CCC;
}

th {
	display:flex;
	width:100%;
        text-align:center;
        color: #FFFFFF;
	background:#000;
	padding:(24px * 1.5) 0;
}

tr:nth-child(even) {
	display:flex;
	width:100%;
	padding:(12px * 1.5) 0;
	background-color: #CCC;
        
	
}

tr:nth-child(odd) {
        display:flex;
	width:100%;
	padding:(12px * 1.5) 0;
	background-color:#FFF;
	}
        
td, header__item {
	flex: 1 1 20%;
	text-align:center;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>